.text-field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-weight: bold;
}

.text-field__error {
  color: var(--color-error);
  font-weight: initial;
  padding-bottom: .2rem;
}

.text-field__input {
  border-radius: var(--border-radius);
  border: .1rem solid var(--color-theme);
  font-size: inherit;
  outline: 0;
  padding: 0.3rem 0.2rem;
  transition: border-color var(--transition-time) var(--transition-timing-function);
}

.text-field__input:focus {
  border-color: var(--color-highlight-focus);
}
.text-field__input:hover {
  border-color: var(--color-highlight-hover);
}

.text-field__input.text-field__input--error {
  border-color: var(--color-error);
}

.text-field__label {
  padding-bottom: .2rem;
}
