:root {
  --color-accent: var(--oc-blue-6);
  --color-accent-focus: var(--oc-blue-7);
  --color-accent-hover: var(--oc-blue-5);
  --color-complement: var(--oc-gray-6);
  --color-complement-focus: var(--oc-gray-7);
  --color-complement-hover: var(--oc-gray-5);
  --color-error: var(--oc-red-6);
  --color-figure: var(--oc-gray-9);
  --color-ground: var(--oc-gray-0);
  --color-ground-focus: var(--gray-3);
  --color-ground-hover: #ffffff;
  --border-radius: .15rem;
  --font-size-small: .9rem;
  --transition-time: .2s;
  --transition-timing-function: ease-in-out;
}
