:root {
  --color-error: #ff005a;
  --color-complement: #707070;
  --color-complement-focus: #555555;
  --color-complement-hover: #787878;
  --color-highlight: #008ddc;
  --color-highlight-focus: #007cc1;
  --color-highlight-hover: #17acff;
  --color-theme: #242424;
  --color-ground: #fcfcfc;
  --color-ground-focus: #dfdfdf;
  --color-ground-hover: #ffffff;
  --border-radius: .15rem;
  --transition-time: .2s;
  --transition-timing-function: ease-in-out;
}
