.button {
  background: var(--color-highlight);
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-ground);
  cursor: pointer;
  font-size: inherit;
  outline: 0;
  padding: 0.5rem 1rem;
  transition: background-color var(--transition-time) var(--transition-timing-function);
  width: 100%;
}

.button:focus {
  background: var(--color-highlight-focus);
}

.button:hover {
  background: var(--color-highlight-hover);
}

.button:active {
  background: var(--color-highlight-focus);
}

.button:disabled {
  background: var(--color-disabled);
}
