.spinner {
  --diameter: 1.5rem;
  animation: rotate .75s infinite linear;
  border: calc(var(--diameter) / 6) solid var(--color-accent);
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  height: var(--diameter);
  width: var(--diameter);
}

.spinner--ground {
  border-color: var(--color-ground);
  border-right-color: transparent;
}

.spinner--page {
  --diameter: 3rem;
  display: flex;
  margin: 3rem auto;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
