.link {
  color: var(--color-highlight);
  text-decoration: none;
  transition: color var(--transition-time) var(--transition-timing-function);
}

.link:focus {
  color: var(--color-highlight-focus);
}

.link:hover {
  color: var(--color-highlight-hover);
}

.link:active {
  color: var(--color-highlight-focus);
}
