.link {
  color: var(--color-accent);
  text-decoration: none;
  transition: color var(--transition-time) var(--transition-timing-function);
}

.link:focus {
  color: var(--color-accent-focus);
}

.link:hover {
  color: var(--color-accent-hover);
}

.link:active {
  color: var(--color-accent-focus);
}
