.header {
  background: var(--color-figure);
  color: var(--color-ground);
  padding: .6667rem 0;
  position: relative;
}

.header__heading {
  margin: 0;
  text-align: center;
}

.header__profile {
  align-items: center;
  bottom: 0;
  display: flex;
  position: absolute;
  right: .5rem;
  top: 0;
}

.header__sign-in {
  color: var(--color-ground);
  padding: .5rem;
  outline: 0;
  text-decoration: none;
  transition: color var(--transition-time) var(--transition-timing-function);
}

.header__sign-in:focus {
  color: var(--color-ground-focus);
}

.header__sign-in:hover {
  color: var(--color-ground-hover);
}

.header__sign-in:active {
  color: var(--color-ground-focus);
}
