.select {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-weight: bold;
}

.select__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--border-radius);
  border: .1rem solid var(--color-figure);
  cursor: pointer;
  font-size: inherit;
  outline: 0;
  padding: var(--space-2);
  transition: border-color var(--transition-time) var(--transition-timing-function);
}

.select__input:focus {
  border-color: var(--color-accent-focus);
}

.select__input:hover {
  border-color: var(--color-accent-hover);
}
